/* CSS Document */
body{ font-family:"微软雅黑"}
#co_divall,.co_left,.co_right,.co_lh2,ul,li{ padding:0px; margin:0px;color:#6666;}
#co_divall{ width:1000px; min-height:600px; height:auto; margin:0 auto;margin-top:20px; }

#co_divall .co_left{ width:200px; height: auto; float:left;min-height:800px; margin-left:25px; background:#dfeef6}

#co_divall .co_right{ width:700px; height: auto; float:right; margin-right:25px;}

.co_left ul { margin-left:10px; margin-top:10px;}

.co_left ul li{ list-style:none; height:28px; line-height:28px; display:block}

.co_left ul li a{ text-decoration:none; padding-left:10px;color:#666; color:#1c3f5a; font-size:14px; letter-spacing:1px; display:block;font-weight:bold;}

.co_left ul li a:hover{ background:url(./images/c_ul_li.png); color:#53a5ce}


.co_lh2{ height:32px; line-height:32px; letter-spacing:3px; background:url(./images/c_ul_title.png); text-align:center; color:#FFF}

#co_rh2{ height:42px; line-height:42px; font-size:16px; color:#53a5ce; background:url(./images/c_h_title.png) repeat-x;  margin-top:0px;}
#co_rbuttonl,#co_rbutton2{ width:83px; height:33px; margin-bottom:10px; background:url(./images/c_last.jpg)}

#co_rbutton2{ background:url(./images/c_next.jpg)}
hr{ padding:0px; color:#7fa5b8; size:1px;}


#frameContent1{ width:750px; height:auto; font-size:14px; line-height:28px;}






